@model HomeViewModel
<!-- SLIDER AREA START (slider-3) -->
    <div class="ltn__slider-area ltn__slider-3  section-bg-1">
        <div class="ltn__slide-one-active slick-slide-arrow-1 slick-slide-dots-1">

            @foreach (var slider in Model.Sliders)
            {
            <div class="ltn__slide-item ltn__slide-item-2 ltn__slide-item-3-normal ltn__slide-item-3">
                <div class="ltn__slide-item-inner @(slider.Order%2==1? "":"text-right text-end")">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 align-self-center">
                                <div class="slide-item-info">
                                    <div class="slide-item-info-inner ltn__slide-animation">
                                        <h6 class="slide-sub-title white-color--- animated"><span><i class="@slider.SubTitleIcon"></i></span> @slider.SubTitle</h6>
                                        <h1 class="slide-title animated ">@slider.Title1 <br> @slider.Title2</h1>
                                        <div class="slide-brief animated">
                                            <p>@slider.Desc</p>
                                        </div>
                                        <div class="btn-wrapper animated">
                                            <a href="about.html" class="theme-btn-1 btn btn-effect-1">@slider.BtnText</a>
                                            @if (slider.Order%2==1)
                                            {
                                                <a class="ltn__video-play-btn bg-white" href="@slider.RedirectUrl" data-rel="lightcase">
                                                    <i class="icon-play  ltn__secondary-color"></i>
                                                </a>
                                            }
                                            else{
                                            <a href="~/" class="btn btn-transparent btn-effect-3">LEARN MORE</a>
                                            }                                               
                                        </div>
                                    </div>
                                </div>
                                <div class="slide-item-img">
                                    <img src="~/main/img/slider/21.png" alt="#">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        }
        </div>
    </div>
    <!-- SLIDER AREA END -->


    <!-- ABOUT US AREA START -->
@foreach (var about in Model.Abouts.Take(1))
{
    <div class="ltn__about-us-area pt-120 pb-90 ">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <div class="about-us-img-wrap about-img-left">
                        <img src="~/main/uploads/aboutImage/@about.Image" alt="About Us Image">
                        <div class="about-us-img-info about-us-img-info-2 about-us-img-info-3">

                            <div class="ltn__video-img ltn__animation-pulse1">
                                <img src="~/main/uploads/aboutImage/@about.VideoImage" alt="video popup bg image">
                                <a class="ltn__video-icon-2 ltn__video-icon-2-border---" href="@about.VideoUrl" data-rel="lightcase:myCollection">
                                    <i class="fa fa-play"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 align-self-center">
                    <div class="about-us-info-wrap">
                        <div class="section-title-area ltn__section-title-2--- mb-20">
                            <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">About Us</h6>
                            <h1 class="section-title">@about.Title<span>.</span></h1>
                            <p>@about.Desc</p>
                        </div>
                        <ul class="ltn__list-item-half clearfix">
                            <li>
                                <i class="flaticon-home-2"></i>
                                Smart Home Design
                            </li>
                            <li>
                                <i class="flaticon-mountain"></i>
                                Beautiful Scene Around
                            </li>
                            <li>
                                <i class="flaticon-heart"></i>
                                Exceptional Lifestyle
                            </li>
                            <li>
                                <i class="flaticon-secure"></i>
                                Complete 24/7 Security
                            </li>
                        </ul>
                        <div class="ltn__callout bg-overlay-theme-05  mt-30">
                            <p> @Html.Raw(@about.Text)</p>
                        </div>
                        <div class="btn-wrapper animated">
                            <a href="@about.BtnUrl" class="theme-btn-1 btn btn-effect-1">@about.BtnText</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
    <!-- ABOUT US AREA END -->

    <!-- COUNTER UP AREA START -->
    <div class="ltn__counterup-area section-bg-1 pt-120 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 align-self-center">
                    <div class="ltn__counterup-item text-color-white---">
                        <div class="counter-icon">
                            <i class="flaticon-select"></i>
                        </div>
                        <h1><span class="counter">560</span><span class="counterUp-icon">+</span> </h1>
                        <h6>Total Area Sq</h6>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 align-self-center">
                    <div class="ltn__counterup-item text-color-white---">
                        <div class="counter-icon">
                            <i class="flaticon-office"></i>
                        </div>
                        <h1><span class="counter">197</span><span class="counterUp-letter">K</span><span class="counterUp-icon">+</span> </h1>
                        <h6>Apartments Sold</h6>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 align-self-center">
                    <div class="ltn__counterup-item text-color-white---">
                        <div class="counter-icon">
                            <i class="flaticon-excavator"></i>
                        </div>
                        <h1><span class="counter">268</span><span class="counterUp-icon">+</span> </h1>
                        <h6>Total Constructions</h6>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 align-self-center">
                    <div class="ltn__counterup-item text-color-white---">
                        <div class="counter-icon">
                            <i class="flaticon-armchair"></i>
                        </div>
                        <h1><span class="counter">340</span><span class="counterUp-icon">+</span> </h1>
                        <h6>Apartio Rooms</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- COUNTER UP AREA END -->

    <!-- ABOUT US AREA START -->
    <div class="ltn__about-us-area pt-120 pb-90 ">
        <div class="container">
            @foreach (var item in Model.Houses.Take(1))
                        {
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <div class="about-us-info-wrap">
                        <div class="section-title-area ltn__section-title-2--- mb-30">
                            <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">About Us</h6>
                            <h1 class="section-title">Today Sells Properties</h1>
                            <p>
                                @Html.Raw(item.Desc)
                            </p>
                        </div>
                        <ul class="ltn__list-item-1 ltn__list-item-1-before clearfix">
                            <li>Live Music Cocerts at Luviana</li>
                            <li>Our SecretIsland Boat Tour is Just for You</li>
                            <li>Live Music Cocerts at Luviana</li>
                            <li>Live Music Cocerts at Luviana</li>
                        </ul>
                        <ul class="ltn__list-item-2 ltn__list-item-2-before ltn__flat-info">
                            <li>
                                <span>@item.BedRoomCount <i class="flaticon-bed"></i></span>
                                Bedrooms
                            </li>
                            <li>
                                <span>@item.BathRoomCount <i class="flaticon-clean"></i></span>
                                Bathrooms
                            </li>
                            <li>
                                <span>@item.CarParking <i class="flaticon-car"></i></span>
                                Car parking
                            </li>
                            <li>
                                <span>@item.SquareFt <i class="flaticon-square-shape-design-interface-tool-symbol"></i></span>
                                square Ft
                            </li>
                        </ul>
                        <ul class="ltn__list-item-2 ltn__list-item-2-before--- ltn__list-item-2-img mb-50">
                            
                            <li>
                                <a href="~/main/uploads/houses/@item.HouseImages.FirstOrDefault(x=>x.PosterStatus==false)?.Name" data-rel="lightcase:myCollection">
                                    <img src="~/main/uploads/houses/@item.HouseImages.FirstOrDefault(x=>x.PosterStatus==false)?.Name" alt="Image">
                                </a>
                            </li>
                            <li>
                                <a href="~/main/uploads/houses/@item.HouseImages.FirstOrDefault(x=>x.PosterStatus==true)?.Name" data-rel="lightcase:myCollection">
                                    <img src="~/main/uploads/houses/@item.HouseImages.FirstOrDefault(x=>x.PosterStatus==true)?.Name" alt="Image">
                                </a>
                            </li>
                            <li>
                                <a href="~/main/uploads/houses/@item.HouseImages.FirstOrDefault(x=>x.PosterStatus==false)?.Name" data-rel="lightcase:myCollection">
                                    <img src="~/main/uploads/houses/@item.HouseImages.FirstOrDefault(x=>x.PosterStatus==false)?.Name" alt="Image">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 align-self-center">
                    <div class="about-us-img-wrap about-img-right">
                        <img src="~/main/img/others/9.png" alt="About Us Image">
                    </div>
                </div>
            </div>

        }
        </div>
    </div>
    <!-- ABOUT US AREA END -->

    <!-- FEATURE AREA START ( Feature - 6) -->
    <div class="ltn__feature-area section-bg-1 pt-120 pb-90 mb-120---">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-area ltn__section-title-2--- text-center">
                        <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">Our Services</h6>
                        <h1 class="section-title">Our Main Focus</h1>
                    </div>
                </div>
            </div>
            <div class="row ltn__custom-gutter--- justify-content-center">
                @foreach (var item in Model.Features)
                {
                                    <div class="col-lg-4 col-sm-6 col-12">
                    <div class="ltn__feature-item ltn__feature-item-6 text-center bg-white  box-shadow-1">
                        <div class="ltn__feature-icon">
                            <img src="~/main/uploads/featureImage/@item.Image" alt="#">
                        </div>
                        <div class="ltn__feature-info">
                            <h3><a asp-action="detail" asp-controller="feature" asp-route-id="@item.Id">@item.Title</a></h3>
                            <p>@Html.Raw(@item.Desc)</p>
                            <a class="ltn__service-btn" asp-action="detail" asp-controller="feature" asp-route-id="@item.Id">Find A Home <i class="flaticon-right-arrow"></i></a>
                        </div>
                    </div>
                </div>

                }
            </div>
        </div>
    </div>
    <!-- FEATURE AREA END -->

    <!-- PRODUCT SLIDER AREA START -->
    <div class="ltn__product-slider-area ltn__product-gutter pt-115 pb-90 plr--7">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-area ltn__section-title-2--- text-center">
                        <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">Properties</h6>
                        <h1 class="section-title">Featured Listings</h1>
                    </div>
                </div>
            </div>
            <div class="row ltn__product-slider-item-four-active-full-width slick-arrow-1">
                <!-- ltn__product-item -->
                @foreach (var house in Model.Houses)
                {
                <div class="col-lg-12">
                    <div class="ltn__product-item ltn__product-item-4 text-center---">
                        <div class="product-img">
                            <a asp-action="detail" asp-controller="house" asp-route-id="@house.Id"><img width="100%" height="280px" src="~/main/uploads/houses/@house.HouseImages.FirstOrDefault(x=>x.PosterStatus==true)?.Name" alt="#"></a>
                            <div class="product-badge">
                                <ul>
                                    <li class="sale-badge bg-@(house.Status==true?"orange":"red")">@(house.Status == true ? "On Sale" : "Sold")</li>
                                </ul>
                            </div>
                            <div class="product-img-location-gallery">
                                <div class="product-img-location">
                                    <ul>
                                        <li>
                                            <a href="~/"><i class="flaticon-pin"></i> Azerbaijan, @house.City.Name</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="product-img-gallery">
                                    <ul>
                                        <li>
                                            <a asp-action="detail" asp-controller="house" asp-route-id="@house.Id"><i class="fas fa-camera"></i> 4</a>
                                        </li>
                                        <li>
                                            <a asp-action="detail" asp-controller="house" asp-route-id="@house.Id"><i class="fas fa-film"></i> 2</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="product-info">
                            <div class="product-price">
                                @if (house.DiscountPercent>0)
                                {
                                <span>$@(house.SalePrice*(100-house.DiscountPercent)/100)</span>
                                    <del>@house.SalePrice</del>
                                }
                                else{
                                <span>$@house.SalePrice</span>

                                }
                            </div>
                            <h2 class="product-title"><a asp-action="detail" asp-controller="house" asp-route-id="@house.Id">@house.Name</a></h2>
                            <div class="product-description">   
                                    @Html.Raw(house.Desc)     
                            </div>
                            <ul class="ltn__list-item-2 ltn__list-item-2-before">
                                <li>
                                    <span>@house.BedRoomCount <i class="flaticon-bed"></i></span>
                                    Bedrooms
                                </li>
                                <li>
                                    <span>@house.BathRoomCount <i class="flaticon-clean"></i></span>
                                    Bathrooms
                                </li>
                                <li>
                                    <span>@house.SquareFt <i class="flaticon-square-shape-design-interface-tool-symbol"></i></span>
                                    square Ft
                                </li>
                            </ul>
                        </div>
                        <div class="product-info-bottom">
                            <div class="real-estate-agent">
                                <div class="agent-img">
                                    <a asp-action="detail" asp-controller="house" asp-route-id="@house.Id"><img src="~/main/img/blog/author.jpg" alt="#"></a>
                                </div>
                                <div class="agent-brief">
                                    <h6><a asp-action="detail" asp-controller="house" asp-route-id="@house.Id">@house.Broker.Fullname</a></h6>
                                    <small>Estate Agents</small>
                                </div>
                            </div>
                            <div class="product-hover-action">
                                <ul>
                                    <li>
                                        <a asp-action="detail" asp-controller="house" asp-route-id="@house.Id" title="Quick View" data-bs-toggle="modal" data-bs-target="#quick_view_modal">
                                            <i class="flaticon-expand"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-action="addtobasket" asp-controller="house" asp-route-houseId="@house.Id" class="add-to-basket" title="Wishlist" data-bs-toggle="modal" data-bs-target="#liton_wishlist_modal">
                                            <i class="flaticon-heart-1"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a asp-action="detail" asp-controller="house" asp-route-id="@house.Id" title="Detail">
                                            <i class="flaticon-add"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            }
                
            </div>
        </div>
    </div>
    <!-- PRODUCT SLIDER AREA END -->
    
    <!-- CATEGORY AREA START -->
    <div class="ltn__category-area section-bg-1-- ltn__primary-bg before-bg-1 bg-image bg-overlay-theme-black-5--0 pt-115 pb-90 d-none" data-bs-bg="img/bg/5.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-area ltn__section-title-2 text-center">
                        <h1 class="section-title white-color">Top Categories</h1>
                    </div>
                </div>
            </div>
            <div class="row ltn__category-slider-active slick-arrow-1">
                <div class="col-12">
                    <div class="ltn__category-item ltn__category-item-4 text-center">
                        <div class="ltn__category-item-img">
                            <a href="shop.html">
                                <i class="flaticon-car"></i>
                            </a>
                        </div>
                        <div class="ltn__category-item-name">
                            <h4><a href="shop.html">Parking Space</a></h4>
                        </div>
                        <div class="ltn__category-item-btn">
                            <a href="shop.html"><i class="flaticon-right-arrow"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="ltn__category-item ltn__category-item-4 text-center">
                        <div class="ltn__category-item-img">
                            <a href="shop.html">
                                <i class="flaticon-car"></i>
                            </a>
                        </div>
                        <div class="ltn__category-item-name">
                            <h4><a href="shop.html">Parking Space</a></h4>
                        </div>
                        <div class="ltn__category-item-btn">
                            <a href="shop.html"><i class="flaticon-right-arrow"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="ltn__category-item ltn__category-item-4 text-center">
                        <div class="ltn__category-item-img">
                            <a href="shop.html">
                                <i class="flaticon-car"></i>
                            </a>
                        </div>
                        <div class="ltn__category-item-name">
                            <h4><a href="shop.html">Parking Space</a></h4>
                        </div>
                        <div class="ltn__category-item-btn">
                            <a href="shop.html"><i class="flaticon-right-arrow"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="ltn__category-item ltn__category-item-4 text-center">
                        <div class="ltn__category-item-img">
                            <a href="shop.html">
                                <i class="flaticon-car"></i>
                            </a>
                        </div>
                        <div class="ltn__category-item-name">
                            <h4><a href="shop.html">Parking Space</a></h4>
                        </div>
                        <div class="ltn__category-item-btn">
                            <a href="shop.html"><i class="flaticon-right-arrow"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="ltn__category-item ltn__category-item-4 text-center">
                        <div class="ltn__category-item-img">
                            <a href="shop.html">
                                <i class="flaticon-car"></i>
                            </a>
                        </div>
                        <div class="ltn__category-item-name">
                            <h4><a href="shop.html">Parking Space</a></h4>
                        </div>
                        <div class="ltn__category-item-btn">
                            <a href="shop.html"><i class="flaticon-right-arrow"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="ltn__category-item ltn__category-item-4 text-center">
                        <div class="ltn__category-item-img">
                            <a href="shop.html">
                                <i class="flaticon-car"></i>
                            </a>
                        </div>
                        <div class="ltn__category-item-name">
                            <h4><a href="shop.html">Parking Space</a></h4>
                        </div>
                        <div class="ltn__category-item-btn">
                            <a href="shop.html"><i class="flaticon-right-arrow"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- CATEGORY AREA END -->

    <!-- CATEGORY AREA START -->
    <div class="ltn__category-area section-bg-1 ltn__product-gutter section-bg-1--- pt-115 pb-90 ">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-area ltn__section-title-2--- text-center">
                        <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">Our Aminities</h6>
                        <h1 class="section-title">Building Aminities</h1>
                    </div>
                </div>
            </div>
            <div class="row ltn__category-slider-active--- slick-arrow-1 justify-content-center">
                @foreach (var aminity in Model.Aminities)
               {
                <div class="col-lg-3 col-md-4 col-sm-6 col-6">
                    <div class="ltn__category-item ltn__category-item-5 text-center">
                        <a href="~/">
                            <span class="category-icon"><i class="@aminity.Icon"></i></span>
                            <span class="category-title">@aminity.Name</span>
                            <span class="category-btn"><i class="flaticon-right-arrow"></i></span>
                        </a>
                    </div>
                </div>

            }

            </div>
        </div>
    </div>
    <!-- CATEGORY AREA END -->

    <!-- TESTIMONIAL AREA START (testimonial-7) -->
    <div class="ltn__testimonial-area section-bg-1--- bg-image-top pt-115 pb-70" data-bs-bg="img/bg/20.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-area ltn__section-title-2--- text-center">
                        <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">Our Testimonial</h6>
                        <h1 class="section-title">Clients Feedback</h1>
                    </div>
                </div>
            </div>
            <div class="row ltn__testimonial-slider-5-active slick-arrow-1">
                @foreach (var item in Model.Comments)
                {
                <div class="col-lg-4">
                    <div class="ltn__testimonial-item ltn__testimonial-item-7">
                        <div class="ltn__testimoni-info">
                            <p><i class="flaticon-left-quote-1"></i> 
                               @item.Text</p>
                            <div class="ltn__testimoni-info-inner">
                                <div class="ltn__testimoni-img">
                                    @if (@item.AppUser.Image != null)
                                    {
                                        <img src="~/main/uploads/userImage/@item.AppUser.Image" alt="#">
                                    }
                                    else{
                                        <img src="~/main/img/testimonial/1.jpg" alt="#">

                                    }
                                </div>
                                <div class="ltn__testimoni-name-designation">
                                    <h5>@item.AppUser.FullName</h5>
                                    <label><small>@item.AppUser.Email</small></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    
                }
                <!--  -->
            </div>
        </div>
    </div>
    <!-- TESTIMONIAL AREA END -->
