@model Order
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <div class="card" style="width:100%;">
                <div class="card-body">
                    <h2 class="card-title">Order</h2>
                    <p class="card-text">
                        <h6>Fullname: @Model.Fullname</h6>
                        <h6>Email:@Model.Email </h6>
                        <h6>Note: @Model.Note</h6>
                        <h6>Date: @Model.CreatedAt.ToString("dd-MM-yyyy HH:mm")</h6>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    @foreach (var item in Model.OrderItems)
                    {
                        <li class="list-group-item">Home: @item.Name</li>
                        <li class="list-group-item">SalePrice:@item.SalePrice</li>
                        <li class="list-group-item">DiscountPercent:<b>@item.DiscountPercent.ToString("0.##")%</b></li>
                        <li class="list-group-item">CostPrice: @item.CostPrice</li>
                        <li class="list-group-item"><b>Total Price: @(item.SalePrice * (100 - item.DiscountPercent) / 100)</b></li>
                        <li class="list-group-item"><b>Profit: @(item.SalePrice * (100 - item.DiscountPercent) / 100-item.CostPrice)</b></li>
                    }
                </ul>
                <div class="card-body">
                    <div class="row justify-content-end">
                        <form method="post" asp-action="accept" asp-route-id="@Model.Id">
                            <button class="btn btn-primary m-1" type="submit">Accept</button>
                        </form>
                        <form method="post" asp-action="reject" asp-route-id="@Model.Id">
                            <button class="btn btn-danger m-1" type="submit">Reject</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>