@model ShopViewModel

<!-- BREADCRUMB AREA START -->
    <div class="ltn__breadcrumb-area text-left bg-overlay-white-30 bg-image "  data-bs-bg="img/bg/14.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__breadcrumb-inner">
                        <h1 class="page-title">Shop Left Sidebar</h1>
                        <div class="ltn__breadcrumb-list">
                            <ul>
                                <li><a href="index.html"><span class="ltn__secondary-color"><i class="fas fa-home"></i></span> Home</a></li>
                                <li>Shop Left Sidebar</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BREADCRUMB AREA END -->
    <!-- PRODUCT DETAILS AREA START -->
    <div class="ltn__product-area ltn__product-gutter">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 order-lg-2 mb-100">
                    <div class="ltn__shop-options">
                        <ul class="justify-content-start">
                            <li>
                                <div class="ltn__grid-list-tab-menu ">
                                    <div class="nav">
                                        <a class="active show" data-bs-toggle="tab" href="#liton_product_grid"><i class="fas fa-th-large"></i></a>
                                        <a data-bs-toggle="tab" href="#liton_product_list"><i class="fas fa-list"></i></a>
                                    </div>
                                </div>
                            </li>
                            <li class="d-none">
                               <div class="showing-product-number text-right">
                                    <span>Showing 1–12 of 18 results</span>
                                </div> 
                            </li>
                            <li>
                               <div class="short-by text-center">
                                    <select onchange="this.form.submit()" form="filter-form" name="sort" class="nice-select">
                                        <option value="">Default Sorting</option>
                                        <option value="AToZ">Sort by: A to Z</option>
                                        <option value="ZToA">Sort by: Z to A</option>
                                        <option value="LowToHigh">Sort by price: low to high</option>
                                        <option value="HighToLow">Sort by price: high to low</option>
                                    </select>
                                </div> 
                            </li>
                            <li>
                               <div class="short-by text-center">
                                    <select class="nice-select">
                                        <option>Per Page: 6</option>
                                        <option>Per Page: 8</option>
                                        <option>Per Page: 10</option>
                                        <option>Per Page: 12</option>
                                    </select>
                                </div> 
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="liton_product_grid">
                            <div class="ltn__product-tab-content-inner ltn__product-grid-view">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <!-- Search Widget -->
                                        <div class="ltn__search-widget mb-30">
                                            <form action="#">
                                            <input form="filter-form" type="text" name="search" placeholder="Search your keyword...">
                                            <button form="filter-form" type="submit"><i class="fas fa-search"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                    @foreach (var house in Model.Houses)
                                    {
                                    <div class="col-xl-6 col-sm-6 col-12">
                                        <div class="ltn__product-item ltn__product-item-4 ltn__product-item-5 text-center---">
                                            <div class="product-img">
                                                <a href="product-details.html"><img width="100%" height="250px" src="~/main/uploads/houses/@house.HouseImages.FirstOrDefault(x=>x.PosterStatus==true)?.Name" alt="#"></a>
                                                <div class="real-estate-agent">
                                                    <div class="agent-img">
                                                        <a href="~/shop"><img src="~/main/img/team/@house.Broker.Image" alt="#"></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-info">
                                                <div class="product-badge">
                                                    <ul>
                                                        <li class="sale-badg"><b>@(house.Status == true ? "On Sale" : "Sold")</b></li>
                                                    </ul>
                                                </div>
                                                <h2 class="product-title"><a href="~/shop">@house.Name</a></h2>
                                                <div class="product-img-location">
                                                    <ul>
                                                        <li>
                                                            <a href="~/shop"><i class="flaticon-pin"></i> Azerbaijan, @house.City.Name</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <ul class="ltn__list-item-2--- ltn__list-item-2-before--- ltn__plot-brief">
                                                    <li>
                                                        <span>@house.BedRoomCount </span>
                                                        Bed
                                                    </li>
                                                    <li>
                                                        <span>@house.BathRoomCount </span>
                                                        Bath
                                                    </li>
                                                    <li>
                                                        <span>@house.SquareFt </span>
                                                        Square Ft
                                                    </li>
                                                </ul>
                                                <div class="product-hover-action">
                                                    <ul>
                                                        <li>
                                                            <a href="#" title="Quick View" data-bs-toggle="modal" data-bs-target="#quick_view_modal">
                                                                <i class="flaticon-expand"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" title="Wishlist" data-bs-toggle="modal" data-bs-target="#liton_wishlist_modal">
                                                                <i class="flaticon-heart-1"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="product-details.html" title="Product Details">
                                                                <i class="flaticon-add"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="product-info-bottom">
                                                <div class="product-price">
                                                    <span>$@house.SalePrice</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                    <!-- ltn__product-item -->
                                    
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="liton_product_list">
                            <div class="ltn__product-tab-content-inner ltn__product-list-view">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <!-- Search Widget -->
                                        <div class="ltn__search-widget mb-30">
                                            <form action="#">
                                                <input type="text" name="search" placeholder="Search your keyword...">
                                                <button type="submit"><i class="fas fa-search"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- ltn__product-item -->
                                    <div class="col-lg-12">
                                        <div class="ltn__product-item ltn__product-item-4 ltn__product-item-5">
                                            <div class="product-img">
                                                <a href="product-details.html"><img src="~/main/img/product-3/1.jpg" alt="#"></a>
                                            </div>
                                            <div class="product-info">
                                                <div class="product-badge-price">
                                                    <div class="product-badge">
                                                        <ul>
                                                            <li class="sale-badg">For Rent</li>
                                                        </ul>
                                                    </div>
                                                    <div class="product-price">
                                                        <span>$34,900<label>/Month</label></span>
                                                    </div>
                                                </div>
                                                <h2 class="product-title"><a href="product-details.html">New Apartment Nice View</a></h2>
                                                <div class="product-img-location">
                                                    <ul>
                                                        <li>
                                                            <a href="locations.html"><i class="flaticon-pin"></i> Belmont Gardens, Chicago</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <ul class="ltn__list-item-2--- ltn__list-item-2-before--- ltn__plot-brief">
                                                    <li><span>3 </span>
                                                        Bed
                                                    </li>
                                                    <li><span>2 </span>
                                                        Bath
                                                    </li>
                                                    <li><span>3450 </span>
                                                        Square Ft
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="product-info-bottom">
                                                <div class="real-estate-agent">
                                                    <div class="agent-img">
                                                        <a href="team-details.html"><img src="~/main/img/blog/author.jpg" alt="#"></a>
                                                    </div>
                                                    <div class="agent-brief">
                                                        <h6><a href="team-details.html">William Seklo</a></h6>
                                                        <small>Estate Agents</small>
                                                    </div>
                                                </div>
                                                <div class="product-hover-action">
                                                    <ul>
                                                        <li>
                                                            <a href="#" title="Quick View" data-bs-toggle="modal" data-bs-target="#quick_view_modal">
                                                                <i class="flaticon-expand"></i>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#" title="Wishlist" data-bs-toggle="modal" data-bs-target="#liton_wishlist_modal">
                                                                <i class="flaticon-heart-1"></i></a>
                                                        </li>
                                                        <li>
                                                            <a href="product-details.html" title="Product Details">
                                                                <i class="flaticon-add"></i>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ltn__pagination-area text-center">
                        <div class="ltn__pagination">
                            <ul>
                                <li><a href="#"><i class="fas fa-angle-double-left"></i></a></li>
                                <li><a href="#">1</a></li>
                                <li class="active"><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">...</a></li>
                                <li><a href="#">10</a></li>
                                <li><a href="#"><i class="fas fa-angle-double-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4  mb-100">
                    <aside class="sidebar ltn__shop-sidebar">
                        <h3 class="mb-10">Advance Information</h3>
                        <label class="mb-30"></label>
                        <!-- Advance Information widget -->
                        <div class="widget ltn__menu-widget">
                        <h4 class="ltn__widget-title">Categories</h4>
                            <ul>
                                @foreach (var category in Model.Categories)
								{
                                <li>
                                    <label class="checkbox-item" for="category-@category.Id">
                                        @category.Name
                                        <input form="filter-form" type="checkbox" @(ViewBag.SelectedCategoryIds.Contains(category.Id)?"checked":"") name="categoryId" id="category-@category.Id" value="@category.Id">
                                        <span class="checkmark"></span>
                                    </label>
                                    <span class="categorey-no">@category.Houses.Count</span>
                                </li>
							    }                       
                            </ul>
                            <hr>
                        <h4 class="ltn__widget-title">Cities</h4>
                            <ul>
                                @foreach (var city in Model.Cities)
								{
                                <li>
                                    <label class="checkbox-item" for="city-@city.Id">
                                        @city.Name
                                        <input form="filter-form" type="checkbox" @(ViewBag.SelectedCityIds.Contains(city.Id)?"checked":"") name="cityId" id="city-@city.Id" value="@city.Id">
                                        <span class="checkmark"></span>
                                    </label>
                                    <span class="city-no">@city.Houses.Count</span>
                                </li>
							    }                       
                            </ul>
                            <hr>
                        <h4 class="ltn__widget-title">Brokers</h4>
                        <ul>
                            @foreach (var broker in Model.Brokers)
                            {
                                <li>
                                    <label class="checkbox-item" for="broker-@broker.Id">
                                        @broker.Fullname
                                        <input form="filter-form" type="checkbox" @(ViewBag.SelectedBrokerIds.Contains(broker.Id)?"checked":"") name="brokerId" id="broker-@broker.Id" value="@broker.Id">
                                        <span class="checkmark"></span>
                                    </label>
                                    <span class="categorey-no">@broker.Houses.Count</span>
                                </li>
                            }
                        </ul>
                        <hr>
                            <h4 class="ltn__widget-title">Amenities</h4>
                            <ul>
                                @foreach (var aminity in Model.Aminities)
                            {
                                <li>
                                    <label class="checkbox-item" for="aminity-@aminity.Id">
                                        @aminity.Name
                                        <input form="filter-form" type="checkbox" @(ViewBag.SelectedBrokerIds.Contains(aminity.Id)?"checked":"") name="aminityId" id="aminity-@aminity.Id" value="@aminity.Id">
                                        <span class="checkmark"></span>
                                    </label>
                                    <span class="categorey-no"></span>
                                </li>
                            }
                            </ul>
                            <hr>
                            <!-- Price Filter Widget -->
                            <div class="widget--- ltn__price-filter-widget">
                                <h4 class="ltn__widget-title ltn__widget-title-border---">Filter by price</h4>
                            <input type="hidden" form="filter-form" name="minPrice" id="minPriceInput" value="@ViewBag.SelectedMinPrice" />
                            <input type="hidden" form="filter-form" name="maxPrice" id="maxPriceInput" value="@ViewBag.SelectedMaxPrice" />
                                <div class="price_filter">
                                    <div class="price_slider_amount">
                                        <input form="filter-form" type="submit"  value="Your range:"/> 
                                        <input type="text" class="amount" name="price"  placeholder="Add Your Price" /> 
                                    </div>
                                <div class="slider-range"></div>
                                </div>
                            </div>
                            <hr>
                            <h4 class="ltn__widget-title">Bed/bath</h4>
                            <ul>
                                <li>
                                    <label class="checkbox-item">Single
                                        <input type="checkbox" checked="checked">
                                        <span class="checkmark"></span>
                                    </label>
                                    <span class="categorey-no">3,924</span>
                                </li>
                                <li>
                                    <label class="checkbox-item">Double
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                    <span class="categorey-no">3,610</span>
                                </li>
                                <li>
                                    <label class="checkbox-item">Up To 3
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                    <span class="categorey-no">2,912</span>
                                </li>
                                <li>
                                    <label class="checkbox-item">Up To 5
                                        <input type="checkbox">
                                        <span class="checkmark"></span>
                                    </label>
                                    <span class="categorey-no">2,687</span>
                                </li>
                            </ul>
                        <hr />
                            <form id="filter-form" method="get">
                            <button type="submit" class="btn btn-secondary ltn__widget-title">Filter</button>

                            </form>
                        </div>
                        
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <!-- PRODUCT DETAILS AREA END -->

@section Scripts{
    <script>
         $( ".slider-range" ).slider({
            range: true,
            min: @Model.MinPrice,
            max: @Model.MaxPrice,
            values: [@ViewBag.SelectedMinPrice, @ViewBag.SelectedMaxPrice],
            slide: function( event, ui ) {
                $( ".amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
            },
            change: function (event, ui) {
                $("#minPriceInput").val(ui.values[0]);
                $("#maxPriceInput").val(ui.values[1]);
            }
        });
        $( ".amount" ).val( "$" + $( ".slider-range" ).slider( "values", 0 ) +
        " - $" + $( ".slider-range" ).slider( "values", 1 ) ); 
    </script>
}