@model HouseDetailViewModel
<!-- BREADCRUMB AREA START -->
    <div class="ltn__breadcrumb-area text-left bg-overlay-white-30 bg-image mb-0"  data-bs-bg="~/main/img/bg/14.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ltn__breadcrumb-inner">
                        <h1 class="page-title">Product Details</h1>
                        <div class="ltn__breadcrumb-list">
                            <ul>
                                <li><a href="~/"><span class="ltn__secondary-color"><i class="fas fa-home"></i></span> Home</a></li>
                                <li>Product Details</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BREADCRUMB AREA END -->

    <!-- IMAGE SLIDER AREA START (img-slider-3) -->
    <div class="ltn__img-slider-area mb-90">
        <div class="container-fluid">
            <div class="row ltn__image-slider-5-active slick-arrow-1 slick-arrow-1-inner ltn__no-gutter-all">

                @foreach (var item in Model.House.HouseImages)
            {
                <div class="col-lg-12">
                    <div class="ltn__img-slide-item-4">
                        <a href="~/main/uploads/houses/@item.Name" data-rel="lightcase:myCollection">
                            <img height="500px" width="100%" src="~/main/uploads/houses/@item.Name" alt="Image">
                        </a>
                    </div>
                </div>
            }
            </div>
        </div>
    </div>
    <!-- IMAGE SLIDER AREA END -->

    <!-- SHOP DETAILS AREA START -->
    <div class="ltn__shop-details-area pb-10">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <div class="ltn__shop-details-inner ltn__page-details-inner mb-60">
                        <div class="ltn__blog-meta">
                            <ul>
                                <li class="ltn__blog-category">
                                <a asp-action="addtobasket" asp-controller="house" asp-route-houseId="@Model.House.Id" class="add-to-basket">Add to basket</a>
                                </li>
                                <li class="ltn__blog-category">
                                <a class="bg-@(Model.House.Status == true ? "orange" : "red")" href="#">@(Model.House.Status == true ? "On Sale" : "Sold")</a>
                                </li>
                                <li class="ltn__blog-date">
                                <i class="far fa-calendar-alt"></i>@Model.House.CreatedAt.ToString("dd MMMM, yyyy")
                                </li>
                                <li>
                                    <a href="#"><i class="far fa-comments"></i>@Model.House.Comments.Count Comments</a>
                                </li>
                            </ul>
                        </div>
                        <h1>@Model.House.Name</h1>

                        <label><span class="ltn__secondary-color"><i class="flaticon-pin"></i></span> Azerbaijan, @Model.House.City.Name</label>
                        <h4 class="title-2">Description</h4>@Html.Raw(Model.House.Desc)
                        <h4 class="title-2">Property Detail</h4>  
                        <div class="property-detail-info-list section-bg-1 clearfix mb-60">                          
                            <ul>
                            <li><label>Home Area: </label> <span>@Model.House.SquareFt sqft</span></li>
                            <li><label>Price:</label> <span>@Model.House.SalePrice</span></li>
                            <li><label>Year built:</label> <span>@Model.House.BuiltYear</span></li>
                            </ul>
                            <ul>
                            <li><label>Rooms:</label> <span>@Model.House.RoomsCount</span></li>
                            <li><label>Baths:</label> <span>@Model.House.BathRoomCount</span></li>
                            <li><label>Beds:</label> <span>@Model.House.BedRoomCount</span></li>

                            </ul>
                        </div>
                                        
                        <h4 class="title-2">Facts and Features</h4>
                        <div class="property-detail-feature-list clearfix mb-45">                            
                            <ul>
                                @foreach (var amenity in Model.House.HouseAmenities)
                                {
                                <li>
                                    <div class="property-detail-feature-list-item">
                                        <i class="@amenity.Amenity.Icon"></i>
                                        <div>
                                            <h6>@amenity.Amenity.Name</h6>
                                        </div>
                                    </div>
                                </li>
              
                                }

                            </ul>
                        </div>

                        <h4 class="title-2">From Our Gallery</h4>
                        <div class="ltn__property-details-gallery mb-30">
                            <div class="row">
                                <div class="col-md-6">
                                <a href="~/main/uploads/houses/@Model.House.HouseImages.FirstOrDefault(x=>x.PosterStatus==true)?.Name" data-rel="lightcase:myCollection">
                                    <img height="46.5%" class="mb-30" src="~/main/uploads/houses/@Model.House.HouseImages.FirstOrDefault(x=>x.PosterStatus==true)?.Name" alt="Image">
                                    </a>
                                    <a href="~/main/uploads/houses/@Model.House.HouseImages.FirstOrDefault(x=>x.PosterStatus==false)?.Name" data-rel="lightcase:myCollection">
                                        <img height="46.5%" class="mb-30" src="~/main/uploads/houses/@Model.House.HouseImages.FirstOrDefault(x=>x.PosterStatus==false)?.Name" alt="Image">
                                    </a>
                                </div>
                                <div class="col-md-6">
                                    <a href="~/main/uploads/houses/@Model.House.HouseImages.FirstOrDefault(x=>x.PosterStatus==false)?.Name" data-rel="lightcase:myCollection">
                                        <img height="100%" class="mb-30" src="~/main/uploads/houses/@Model.House.HouseImages.FirstOrDefault(x=>x.PosterStatus==false)?.Name" alt="Image">
                                    </a>
                                </div>
                            </div>
                        </div>

                        <h4 class="title-2 mb-10">Amenities</h4>
                        <div class="property-details-amenities mb-60">
                            <div class="row">
                                <div class="col-lg-4 col-md-6">
                                    <div class="ltn__menu-widget">
                                        <ul>
                                            @foreach (var item in Model.House.HouseAmenities)
                                            {
                                                 <li>
                                                <label class="checkbox-item">
                                                    @item.Amenity.Name
                                                    <input type="checkbox" checked="checked">
                                                    <span class="checkmark"></span>
                                                </label>
                                            </li>
                                            }
                                           
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h4 class="title-2">Location</h4>
                        <div class="property-details-google-map mb-60">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d194473.42999466046!2d49.71487539548643!3d40.39450797992698!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d6bd6211cf9%3A0x343f6b5e7ae56c6b!2sBaku%2C%20Azerbaijan!5e0!3m2!1sen!2s!4v1672772857268!5m2!1sen!2s" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>

                        
                        <div class="ltn__shop-details-tab-content-inner--- ltn__shop-details-tab-inner-2 ltn__product-details-review-inner mb-60">
                            <h4 class="title-2">Customer Comments</h4><a href="#"><small>( @Model.House.Comments.Count Reviews )</small></a>
                            <hr>
                            <!-- comment-area -->
                            <div class="ltn__comment-area mb-30">
                                <div class="ltn__comment-inner">
                                    <ul>
                                        @foreach (var comment in Model.House.Comments)
                                        {
                                        <li>
                                            <div class="ltn__comment-item clearfix">
                                                <div class="ltn__commenter-img">
                                                    <img width="50px" height="50px" src="~/main/uploads/userImage/@comment.AppUser.Image" alt="Image">
                                                </div>
                                                <div class="ltn__commenter-comment">
                                                    <h6><a href="#">@comment.AppUser.FullName</a></h6>
                                                    <p class="p-2">@comment.Text</p>
                                                    <span class="ltn__comment-reply-btn">@comment.CreatedAt.ToString("dd MMMM, yyyy")</span>
                                                </div>
                                            </div>
                                        </li>

                                    }
                                    </ul>
                                </div>
                            </div>
                            <!-- comment-reply -->
                        @await Html.PartialAsync("_HouseCommentFormPartial",Model.CommentVM)
                        </div>

                        <h4 class="title-2">Related Properties</h4>
                        <div class="row">
                            <!-- ltn__product-item -->
                            @foreach (var item in Model.RelatedHouses)
                            {
                                     <div class="col-xl-6 col-sm-6 col-12">
                                <div class="ltn__product-item ltn__product-item-4 ltn__product-item-5 text-center---">
                                    <div class="product-img">
                                        <a asp-action="detail" asp-controller="house" asp-route-id="@item.Id"><img src="~/main/uploads/houses/@item.HouseImages.FirstOrDefault(x=>x.PosterStatus==true)?.Name" alt="#"></a>
                                        <div class="real-estate-agent">
                                            <div class="agent-img">
                                                <a asp-action="detail" asp-controller="house" asp-route-id="@item.Id"><img src="~/main/uploads/brokerImage/@item.Broker.Image" alt="#"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-info">
                                        <div class="product-badge">
                                            <ul>
                                                <li class="sale-badg">@(Model.House.Status==true?"On Sale":"Sold")</li>
                                            </ul>
                                        </div>
                                        <h2 class="product-title"><a asp-action="detail" asp-controller="house" asp-route-id="@item.Id">@item.Name</a></h2>
                                        <div class="product-img-location">
                                            <ul>
                                                <li>
                                                    <a asp-action="detail" asp-controller="house" asp-route-id="@item.Id"><i class="flaticon-pin"></i> Azerbaijan, @item.City.Name</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <ul class="ltn__list-item-2--- ltn__list-item-2-before--- ltn__plot-brief">
                                            <li><span>@item.BedRoomCount </span>
                                                Bedrooms
                                            </li>
                                            <li><span>@item.BathRoomCount </span>
                                                Bathrooms
                                            </li>
                                            <li><span>@item.SquareFt </span>
                                                square Ft
                                            </li>
                                        </ul>
                                        <div class="product-hover-action">
                                            <ul>
                                                <li>
                                                    <a asp-action="detail" asp-controller="house" asp-route-id="@item.Id">
                                                        <i class="flaticon-expand"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a asp-action="addtobasket" asp-controller="house" asp-route-houseId="@item.Id" class="add-to-basket" title="Wishlist" data-bs-toggle="modal" data-bs-target="#liton_wishlist_modal">
                                                        <i class="flaticon-heart-1"></i></a>
                                                </li>
                                                <li>
                                                    <a asp-action="detail" asp-controller="house" asp-route-id="@item.Id">
                                                        <i class="flaticon-add"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="product-info-bottom">
                                        <div class="product-price">
                                            <span>$@item.SalePrice</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                       
                            }
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <aside class="sidebar ltn__shop-sidebar ltn__right-sidebar---">
                        <!-- Author Widget -->
                        <div class="widget ltn__author-widget">
                            <div class="ltn__author-widget-inner text-center">
                                <img src="~/main/uploads/brokerImage/@Model.House.Broker.Image" alt="Image">
                                <h5>@Model.House.Broker.Fullname</h5>
                                <div class="product-ratting">
                                    <ul>
                                    <li class="review-total"> <a href="#"> ( @Model.House.Comments.Count Reviews )</a></li>
                                    </ul>
                                </div>
                                <div class="ltn__social-media">
                                    <ul>
                                        <li><a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
                                        <li><a href="#" title="Youtube"><i class="fab fa-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Search Widget -->
                        <div class="widget ltn__search-widget">
                            <h4 class="ltn__widget-title ltn__widget-title-border-2">Search Objects</h4>
                            <form action="#">
                                <input type="text" name="search" placeholder="Search your keyword...">
                                <button type="submit"><i class="fas fa-search"></i></button>
                            </form>
                        </div>
                        <!-- Form Widget -->
                        <div class="widget ltn__form-widget">
                            <h4 class="ltn__widget-title ltn__widget-title-border-2">Drop Messege For House</h4>
                            <form method="post">
                                <input type="text" name="yourname" placeholder="Your Name*">
                                <input type="text" name="youremail" placeholder="Your e-Mail*">
                                <textarea name="yourmessage" placeholder="Write Message..."></textarea>
                                <button type="submit" class="btn theme-btn-1">Send Messege</button>
                            </form>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <!-- SHOP DETAILS AREA END -->

